<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>	
<div class="container">
	<div class="list-group">
		<p>Please put in the url of the meetup you would like us to send a message to each of its members</p>
		<input type="text" name="url" id="url1" class="form-control input-sm c-inputs">
		<input type="text" name="url" id="url2" class="form-control input-sm c-inputs">
		<input type="text" name="url" id="url3" class="form-control input-sm c-inputs">
		<input type="text" name="url" id="url4" class="form-control input-sm c-inputs">
	</div>
	<div class="list-group">
		<p>Please type in (or copay and paste) the message you would like us to send to each and every member of the meetup group:</p>
		<input type="text" name="url" id="url1" class="form-control input-sm c-inputs">
		<input type="text" name="url" id="url2" class="form-control input-sm c-inputs">
		<input type="text" name="url" id="url3" class="form-control input-sm c-inputs">
		<input type="text" name="url" id="url4" class="form-control input-sm c-inputs">
	</div>
</div>
</body>
</html>